# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lpmit\OneDrive\Dokumente\Privat\SNEAKER\Selfmade-Bot\sneakerbot\NikeSnkrsBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
